
.name{
    text-align: center  ;
}

.number{
    /* width: 100%; */
    font-size: 20px;
    text-align: center;
}

#email{
    display: block;
}
.contactContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.contactContainer span{
    line-height: 40px;
}

.number{
    margin: 20px auto;
    display: flex;
    width: 45%;
    color: white;
    background-color: #134b70;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 20px;
}
.number span{
    width: 100%;
    border-radius: 20px;
    text-align: center;
} 
.lable{
    background-color: #134b70;
    color: white;
}

.lable a{
    color: white;
}

.hidden{
    /* display: inline-block; */
    font-size: 18px;
    color: white;
    display: none;
    background-color: #134b70;
    a{
        color: white;
    }

}
.acontact{
    padding: 0;
}


.number:hover  .hidden{
    display: contents ;
}


@media (max-width:700px) {
    
    .number:hover  .hidden{
        display: none ;
    }
    .acontact{
        padding: 5px 25% 5px 25%;
    }
}