.FooterBody{
    background-color: rgb(210, 124, 250);
    width: 95%;
    margin: 0 auto;
    margin-top: auto;
    border-radius: 0 0 20px 20px;
    
}

#copyright{
    text-align: center;
    line-height: 40px;
}