.information{
    
    text-align: left;
}

h3{
    text-align: left;
    margin: 20px 0px;
}

h2{
    text-align: center;
}


.hidden1{
    background-color: transparent;
}


#showAbout{
    display: none;
}

#head1:hover + #showAbout{
    width: 50%;
    margin: 0 auto;
    display: block;
    text-align: justify;
    position: absolute;
    margin-left: 40%;
    line-height: 25px;
    padding: 20px;
    background-color:bisque;
    opacity: 1;
    z-index: 1;
    border-radius: 30px;
}