*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
nav{
    background-color: #91DDCF;
    padding: 0 0 0 20px;
    width: 100%;
    position: relative;
    /* margin: 0 2.5%; */
    /* border-radius: 20px 20px 0 0; */
}
nav ul{
    /* width:100%; */
    list-style: none;
    display: flex;
    align-items: flex-end;
    /* justify-content: space-evenly; */
    padding: 5px 20px;
    align-items: center;
    /* justify-content: center; */
    /* justify-content: space-around; */
}

nav li:first-child{
    margin-right: auto;
}

.nav-item{
    display: inline-block;
    /* margin-right: 3%; */
    line-height: 25px;
    position: relative;
    border-radius: 10px;
    width: 150px;
    background-color: #b4f5e3;
    text-align: center;
    z-index: 1;
    transition: 0.2s;
    li{
        width: 100%;
        height: 100%;
    }
    Link{
        height: 100%;
        width: 100%;
    }
    a{
        padding: 0 30px;
    }
}

.nav-item::before{
    content: '';
    border-radius: 10px;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #91DDCF;
    color: white;
    z-index: -1;
    transform-origin: left;
    transition: transform 0.3s ease-in;
    transform: scaleX(1);
}

.nav-item:hover::before{
    transform-origin: right;
    border-radius: 10px;
    transition: transform 0.3s ease-out;
    transform: scaleX(0);
}

.sidebar{
    background-color: #91DDCF;
    position: fixed;
    top:0;
    right: 0;
    padding: 0px;
    height: 100vh;
    width: 150px;
    z-index: 999;
    font-size: 18px;
    box-shadow: -10 0 10px rgba(0,0,0,0.1);
    display: none;
    opacity: 0.9;
    list-style:none;
    flex-direction: column;
    align-items: flex-start;
}

svg{
    float: right;
}
.sidebar .nav-item{
    width: 100%;
    list-style: none;
}

.sidebar li{
    padding: 20px;
    width: 100%;
    background-color: #93e0d2;
}

.close-menu{
    display: none;
}
.menu-button{
    display: none;
}

@media (max-width:700px) {
    .mobileView{
        display:none;
        list-style: none;
    }
/* .close-menu{
    display: flex;
} */
    .pcView{
        display: flex;
    }
    a{
        padding: 0 30% 0 30%;
    }

    .sidebar a{
        text-align: left;
        padding: 25% 60% 25% 0%;
    }
    .nav-item{
        margin-right: 3%;
        line-height: 25px;
        width: 20%;
        text-align: center;
        transition: 0.5s;
        Link{
            width: 100%;
        }
    }
    
}